version: '2'

networks:
  konfettiNetwork:
    external: false
  graylogNetwork:
    external: true

volumes:
  konfettiDb:
    external: false

services:
  konfettiApi:
    image: konfetti/api
    container_name: konfettiApi
    restart: unless-stopped
    ports:
      - "8280:8280"
#      - "8000:8000"
#      - "8181:8181"
    networks:
      - konfettiNetwork
      - graylogNetwork
    depends_on:
      - database
    volumes:
      - /konfetti/logs:/logs
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - /konfetti/config/api.env

  konfettiApp:
    image: konfetti/app
    container_name: konfettiApp
    restart: unless-stopped
    ports:
      - "2001:80"
    networks:
      - konfettiNetwork
    depends_on:
      - konfettiApi

  konfettiAdmin:
    image: konfetti/admin
    container_name: konfettiAdmin
    restart: unless-stopped
    ports:
      - "8080:80"
    networks:
      - konfettiNetwork
    depends_on:
      - konfettiApi

  konfettiCouponGenerator:
    image: konfetti/couponservice
    container_name: konfettiCouponService
    restart: unless-stopped
    ports:
      - "2342:2342"
    networks:
      - konfettiNetwork

  konfettiBootAdmin:
    image: konfetti/spring-boot-admin
    container_name: konfettiBootAdmin
    restart: unless-stopped
    ports:
      - "8180:8180"
    networks:
      - konfettiNetwork
    env_file:
      - /konfetti/config/spring-boot-admin.env

  database:
    image: mysql:5.7.12
    container_name: konfettiDb
    restart: unless-stopped
    ports:
      - "3307:3306"
    networks:
      - konfettiNetwork
    environment:
      MYSQL_ROOT_PASSWORD: rootPassword
      MYSQL_DATABASE: konfetti
      MYSQL_USER: konfetti
      MYSQL_PASSWORD: konfetti
    volumes:
      - konfettiDb:/var/lib/mysql
#    env_file:
#      - /konfetti/config/database.env
