version: '2'

networks:
  productionNetwork:
    external: false

volumes:
  konfettiDb:
    external: false

services:
  konfettiApi:
    image: konfetti/api
    container_name: konfettiApi
    ports:
      - "9000:9000"
#      - "8000:8000"
    networks:
      - productionNetwork
    depends_on:
      - database
    volumes:
      - /konfetti/logs:/logs
    env_file:
      - /konfetti/config/api.env
    environment:
      SPRING_PROFILES_ACTIVE: docker

  konfettiApp:
    image: konfetti/app
    container_name: konfettiApp
    ports:
      - "80:80"
    networks:
      - productionNetwork
    depends_on:
      - konfettiApi

  konfettiAdmin:
    image: konfetti/admin
    container_name: konfettiAdmin
    ports:
      - "8080:80"
    networks:
      - productionNetwork
    depends_on:
      - konfettiApi

  konfettiBootAdmin:
    image: konfetti/spring-boot-admin
    container_name: konfettiBootAdmin
    ports:
      - "8180:8180"
    networks:
      - productionNetwork
    env_file:
      - /konfetti/config/spring-boot-admin.env

  database:
    image: mysql:5.7.12
    container_name: konfettiDb
    ports:
      - "3307:3306"
    networks:
      - productionNetwork
    environment:
      MYSQL_ROOT_PASSWORD: rootPassword
      MYSQL_DATABASE: konfetti
      MYSQL_USER: konfetti
      MYSQL_PASSWORD: konfetti
    volumes:
      - konfettiDb:/var/lib/mysql
#    env_file:
#      - /konfetti/config/database.env
