<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>
    <include resource="./paluchGelfAppender.xml"/>
    <root level="info">
        <springProfile name="dev, docker">
            <appender-ref ref="PALUCH_GELF_APPENDER" />
        </springProfile>
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>